$navbar: #01983b;
$background: #ffffff;
$contacts_text: #2c2783;
$title: #073d79;
$table_text: #043567;
$color_hover: #2e2d2d;
$color_active: #151313;

@mixin flex-center {
    justify-content: center;
    align-items: center;
}

ul{
    padding:0;
    margin:0;
    list-style: none;
}

body{
    font-family: Arial, sans-serif;
}

